@font-face {
    font-family: "Antonio";
    src: url(../font/static/Antonio-Bold.ttf) format("truetype"), url(../font/static/Antonio-ExtraLight.ttf) format("truetype"), url(../font/static/Antonio-Light.ttf) format("truetype"), url(../font/static/Antonio-Medium.ttf) format("truetype"), url(../font/static/Antonio-Regular.ttf) format("truetype"), url(../font/static/Antonio-SemiBold.ttf) format("truetype"), url(../font/static/Antonio-Thin.ttf) format("truetype");
}

body,
html {
    background-image: url(../images/img2_50.jpg);
    object-fit: cover;
    height: 100%;
}

#page {
    background-image: url("../images/img1.jpg");
    object-fit: cover;
    color: #e1941c;
    width: 1500px;
    min-height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    font-family: "Antonio", "Times New Roman", "Times", "serif";
}

#banner {
    background-image: linear-gradient(to bottom left, black, red, rgb(216, 144, 20));
    opacity: 0.8;
    border: 2px solid rgb(250, 29, 32);
    border-radius: 15px 15px;
    padding: 15px;
    margin-right: 0.5px;
    color: rgb(55, 13, 13);
}

.titrePrincipal {
    font-weight: bold;
    font-size: 4.8rem;
}

.titreinfo {
    font-size: 2rem;
    font-weight: 900;
}

.intro {
    padding: 15px;
    font-size: 1.7rem;
}

.titreExp {
    text-shadow: 4px 4px 5px black;
}

.textinfo {
    width: 50%;
    font-weight: bold;
    text-shadow: 4px 4px 5px black;
}

.contenvideo {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 1px solid royalblue;
}

.contenaireform {
    padding: 15px;
    border: 2px solid red;
    border-radius: 15px;
}

#nom {
    width: 100%;
}

#prenom {
    width: 100%;
}

#tel {
    width: 100%;
}

#email {
    width: 100%;
}

#projet {
    width: 100%;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 4px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot_content {
    background-image: linear-gradient(to top left, black, red, rgb(216, 144, 20));
    width: 100%;
    display: flex;
    color: black;
    margin-top: 83px;
}

.lienMail {
    text-decoration: none;
}

#page {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-top: 100%;
        height: 300%;
    }
    to {
        margin-top: 0%;
        height: 100%;
    }
}

.textinfo {
    animation-delay: 0.7s;
    animation-duration: 4s;
    animation-name: text-clip;
    animation-direction: normal;
}

@keyframes text-clip {
    from {
        visibility: hidden;
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media only screen and (max-width: 450px) {
    .titrePrincipal {
        font-size: 3rem;
    }
    .titreinfo {
        font-size: 1rem;
    }
    .textinfo {
        font-size: 0.8rem;
    }
    .titreExp {
        font-size: 1rem;
    }
}